h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}
td{
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    height: 50px;
    width: 120px;}

